body{text-align: center;}
nav{background-color: steelblue;padding:10px}
a{color:white;margin: 40px;}
h1{color: steelblue;}
img{width: 400x;height: 400px; border: 4pxsolid steelblue;}
p{padding: 10px;}
footer{background-color: steelblue; color:white;}